.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: darkblue; 
    cursor: pointer;
    border-radius: 8px; 
  }
.navbar-nav
{
    justify-content: center;
}  
.kozep
{
  text-align: center;
}